{% load static %}
<html>
    <head>
        <title>{% block title %}
        
        {% endblock title %}</title>
        <script src="{% static "js/jquery/jquery.js" %}"></script>
        <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/fontawesome/all.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/base/base.css' %}" rel="stylesheet"/>
    </head>
    <body>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                {% block navbar_title %}
              
              {% endblock navbar_title %}
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links">
              <a href="{% url "home" %}">Home</a>
              <a href="{% url "student" %}">Student</a>
              <a href="{% url "result" %}">Result</a>
              <a href="#">Fees</a>
              <a href="#">Final Report</a>
            </div>
          </div>
        {% block content %}
        
        {% endblock content %}
    </body>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/fontawesome/all.js' %}"></script>
</html>