{% extends "index.html" %}
{% load static %}
{% block content %}
<link href="css/course/course.css" rel="stylesheet"/>
<h1>This is a course page</h1>
<p>this page is in the course application template folder</p>
<form method="post" action="{% url "fees" %}">
    {% csrf_token %}
    <button>open fees page</button>
</form>
<form method="post" action="result">
    {% csrf_token %}
    <button>open result page</button>
</form>
<p>values from the backend : </p>
{% for key, values in Course.items %}
    <p>{{ values }}</p>
{% endfor %}
<img src = {% static 'images/2.jpg' %}/>
{% endblock content %}