{% extends "base/base_auth.html" %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<script>
var verifyOTPForgotPassword = '{% url "verifyOTPForgotPassword" %}';
var verify_email = '{% url "verify_email" %}';
</script>
<div class="container">
    <div class="container mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-10">
                      <h3 class="mx-auto">Reset Password</h3>
                    </div>
                  </div>
                <div class="row mb-3">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="password">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="password2" class="col-sm-2 col-form-label">Re-Type Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="password2">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-10">
                      <button class="btn btn-dark" id="submit">Change Password</button>
                    </div>
                  </div>
            </div>
          </div>
    </div>
</div>
<script src="{% static 'js/auth_api/forgotPasswordPage.js' %}"></script>
{% endblock content %}