{% extends "base/registration_base.html" %}
{% load static %}
{% block content %}
<script>
     var changePassword_url = '{% url "changePassword" %}'
     var login_url = '{% url "login" %}'
</script>
<p id="username" style="display:none">{{username}}</p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="passOLD" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Password</label>
      <input type="password" class="form-control" id="pass1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="pass2">
    </div>
    <button class="btn btn-primary" id='change_pass'>submit</button>
  <script src="{% static 'js/auth_user/changePassword.js' %}"></script>
{% endblock content %}
<!--https://youtu.be/AJoofWcy_JM?list=PLbGui_ZYuhigchy8DTw4pX4duTTpvqlh6&t=671-->