{% load static %}
<html>
    <head>
        <title>{% block title %}
            Home
        {% endblock title %}</title>
        <link href="{% static "css/core/home.css" %}" rel="stylesheet"/>
        <link href="{% static "css/bootstrap/bootstrap.css" %}" rel="stylesheet"/>
        <link href="{% static "css/fontawesome/all.css" %}" rel="stylesheet"/>
    </head>
    <body>
        <h1>This is a home page</h1>
        <p>This is a home page also a parent page</p>
        {% block content %}
        <form method="post" action="{% url "course" %}">
            {% csrf_token %}
            <button class="btn btn-primary">open course page</button>
        </form>
        <form method="post" action="{% url "fees" %}">
            {% csrf_token %}
            <button class="btn btn-primary">open fees page</button>
        </form>
        <form method="post" action="{% url "result" %}">
            {% csrf_token %}
            <button class="btn btn-primary">open result page</button>
        </form>
        {% endblock content %}
    </body>
    <script src="{% static "js/core/home.js" %}"></script>
    <script src="{% static "js/jquery/jquery.js" %}"></script>
    <script src="{% static "js/fontawesome/all.js" %}"></script>
    <script src="{% static "js/bootstrap/bootstrap.js" %}"></script>
</html>