{% load static %}
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <script src="{% static 'js/jquery/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap/jquery.dataTables.js' %}"></script>
    </head>
    <body>
        {% block content %}
        
        {% endblock content %}
    </body>
    <link href="{% static 'css/bootstrap/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/fontawesome/all.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/DataTable/datatables.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/fontawesome/all.js' %}"></script>
    <script src="{% static 'js/bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/DataTable/datatables.js' %}"></script>
</html>