{% extends "core/home.html" %}
{% load static %}
{% block content %}
<link href="{% static 'css/back_button/back_button.css' %}" rel="stylesheet"/>
<link href="{% static 'css/services/services.css' %}" rel="stylesheet"/>
<div class="row">
    <div class="col-sm-1">
        <h1>
            <form method="post" action="{% url "home" %}">
                {% csrf_token %}
                <button class="back_button"><i class="fa-solid fa-arrow-left"></i></button>
            </form>
        </h1>
    </div>
    <div class="col-sm-6">
        <h1>Services page</h1>
    </div>
    <div class="col-sm-5"></div>
</div>
<div class="container mt-5">
<div class="row w-100">
        <!--wrap this entire block in a for loop-->
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-2 gx-5 card-deck">
            <div class="card card_style" style="width: 18rem;">
                <div class="card-body text-center">
                  <h1 class="card-title"><i class="fa-brands fa-searchengin"></i></h2>
                  <h6 class="card-subtitle mb-2 text-body-secondary">SEO</h6>
                  <p class="card-text text-justify">Search Engine Optimization helps your customer to find your website giving you boost in exposure to your 
                    possible clients , helping businesses.
                  </p>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-2 gx-5 card-deck">
            <div class="card card_style" style="width: 18rem;">
                <div class="card-body text-center">
                  <h1 class="card-title"><i class="fa-solid fa-code"></i></h2>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Web Development</h6>
                  <p class="card-text text-justify">Using Django web framework to create Web applications tailor made for you.</p>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-2 gx-5 card-deck">
            <div class="card card_style" style="width: 18rem;">
                <div class="card-body text-center">
                  <h1 class="card-title"><i class="fa-solid fa-palette"></i></h2>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Web Designing</h6>
                  <p class="card-text text-justify">Designing beautiful UI for your websites and web apps that makes your web sites appealing to your clients</p>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-2 gx-5 card-deck">
            <div class="card card_style" style="width: 18rem;">
                <div class="card-body text-center">
                  <h1 class="card-title"><i class="fa-brands fa-aws"></i></h2>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Web Hosting</h6>
                  <p class="card-text text-justify">Hosting your website online on Heroku and AWS. Scaling your websites according to your business needs and requirements.</p>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-2 gx-5 card-deck">
            <div class="card card_style" style="width: 18rem;">
                <div class="card-body text-center">
                  <h1 class="card-title"><i class="fa-solid fa-database"></i></h2>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Database</h6>
                  <p class="card-text text-justify">Hosting and managing your database on AWS. Using PostgresSQL database for your website that gives you robust storage solutions for your website.</p>
                </div>
              </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-2 gx-5 card-deck">
            <div class="card card_style" style="width: 18rem;">
                <div class="card-body text-center">
                  <h1 class="card-title"><i class="fa-solid fa-headset"></i></h2>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Support</h6>
                  <p class="card-text text-justify">Maintaining your website free of cost for 6 months.</p>
                </div>
              </div>
        </div>
        <!--wrap this entire block in a for loop-->
</div>
</div>
{% endblock content %}