{% extends "base/base.html" %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/student/student_details.css' %}"/>
<div class="container pt-5">
    <div class="card" style="width: 29rem;">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'student' %}" class="btn btn-warning"><i class="fa-solid fa-arrow-left"></i></a> Student's Details</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{Student_Name}}</h6>
          <div class="row">
            <p class="card-text">Name : {{Student_Name}}</p>
        </div>
        <div class="row">
            <p class="card-text">Roll no : {{roll_no}}</p>
        </div>
        <div class="row">
            <p class="card-text">Mobile : {{mobile}}</p>
        </div>
        <div class="row">
            <p class="card-text">Email : {{email}}</p>
        </div>
        <div class="row">
            <p class="card-text">Father's name : {{Father_Name}}</p>
        </div>
          <a href="#" class="btn btn-primary my-1">Marks</a>
          <a href="#" class="btn btn-primary my-1">attendence</a>
        </div>
      </div>
</div>
<script src="{% static 'js/student/student_details.js' %}"></script>
{% endblock content %}
