 {% load static %}
<html>
    <head>
        <title>course</title>
        <link rel="stylesheet" href="{% static 'css/course.css' %}"/>
    </head>
    <body>
        <h1>this is course page</h1>
        <form method="post" action="{% url 'fees' %}">
            {% csrf_token %}
            <button>open fees page</button>
        </form>
        <form method="post" action="{% url 'result' %}">
            {% csrf_token %}
            <button>open result page</button>
        </form>
    </body>
    <script src={% static "js/course.js" %}></script>
</html>